* {
    scroll-behavior: smooth
}
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Condensed&display=swap');
body {
    background-color: rgb(245, 245, 245);
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue', sans-serif;
    overflow-x: hidden;

}

#home{
    top: 0;
}

.bl{
    border: 0px solid black;
    position: absolute;
    width: auto;
    height: auto;
    margin-top: 30vh;
    margin-left: 18vh;
    color: white;
}
.header {
    overflow: hidden;
    position: fixed;
    height: 65px;
    background-color: #ffffff;
    width: 100%;
    border-bottom: 1px solid gray;
    z-index: 1;
}

.header a {
    margin: 10px;
    float: left;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
    color: orange;
    font-weight: 700;

}

.header-right{
    margin-left: 75%;
}

#pic {
    padding-left: 20px;
    padding-top: 18px;
    height: 30px;
    top: 0;
    left: 0;
    position: absolute; 
}


#he {
    padding-bottom: 19px;
    position: relative;
  }

#he::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    background-color: orange;
    transition: 0.25s ease-out;
  }
#he:hover::before{
    width: 100%;
}




.ba{
    position: absolute;
    overflow-x: hidden;
    width: 100%;

}

#bi{
    top: 0;
    left: 0;
    font-size: 6.5vh;
}

#sma{
    position: absolute;
    top: 72%;
    left: 92%;
}


#secpage{
    width: 100%;
    background-color: rgb(255, 255, 255);
    margin-top: 100vh;
    height: 85vh;
    position: absolute;
    box-shadow: inset 0 0 20px rgb(121, 118, 118);

}

#netex{
    width: fit-content;
    padding-bottom: 1vh;
    border-bottom: 1px solid black;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
}

.box1{
    margin-top: 4vh;
    border: 0px solid black;
    width: 70vh;
    height: 50vh;
    margin-left: 10%;
    color: #0057b7;
    position: absolute;
    transition-duration: 0.8s;
}

.box1:hover{
    opacity: 0.7;
    margin-top: 3vh;
        transition-duration: 0.8s;
}

#exj{
    max-width: 100%;
    max-height: 100%;
}

#box2{
    margin-left: 55%;
}
#thirdpage{
    width: 100%;
    background-color: rgb(255, 255, 255);
    margin-top: 180vh;
    height: 80vh;
    position: absolute;
}

#ins{
    color: #7a7a7a;
}

#but{
    height: 4.5vh;
    width: 12vh;
    position: absolute;
    border: 0px solid black;
    background-color: #0057b7;
    color: white;
    font-weight: 600;
    right: 0;
    transition-duration: 0.8s;
}

#but:hover{
    opacity: 0.7;
    transition-duration: 0.8s;
}



.wrapper {
    margin-top: 10vh;
  width: 70%;
  position: relative;
  margin-left: auto;
  margin-right: auto;

}
.wrapper i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}

.wrapper i:first-child{
  left: -22px;
}
.wrapper i:last-child{
  right: -22px;
}
.wrapper .carousel{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 40vh;
  overflow-x: auto;
  gap: 16px;

}
.carousel::-webkit-scrollbar {
  display: none;
}
.carousel.no-transition {
  scroll-behavior: auto;
}

.carousel .card {
  height: 60vh;
  list-style: none;
  background: #d41f1f;
}

#siz{
    width: 100%;
    height: 100%;
}

